* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-size: cover;
    background-attachment: fixed;
    font-family: Roboto;
}
.contenedor {
	width: 90%;
	max-width: 1200px;
    margin: 20px auto;
}
/* ---------- HEADER ----------*/
.header {
	grid-area: header;
	background: rgb(255, 255, 255);
	box-shadow: 0px 0px 70px rgba(102, 102, 102, 0.2);
}

.header .logo {
	text-align: center;
}
.header .img-logo {
	width: 100%;
}
.menu {
	border-top: 1px solid rgb(37, 36, 36);
	border-bottom: 1px solid rgb(37, 36, 36);
	background-color: #913030;
	display: flex;
	justify-content: space-between;
}

.menu a {
	padding: 10px;
	color: rgb(37, 36, 36);
	display: block;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 400;
	width: 100%;
	text-align: center;
	transition: 0.2s ease all;
	font-size: 16px;
}

.menu a:hover {
	background: rgb(37, 36, 36);
	color: #fff;
}
/* ---------- formulario ----------*/
.contenedor-form {
    background: rgba(0,0,0,.7);
    max-width: 500px;
    width: 100%;
    margin: 48px auto;
    border-radius: 5px;
    color: #fff;
    position: relative;
    /*padding: 40px;*/
}

.contenedor-form .toggle {
    position: absolute;
    top: 7px;
    right: 7px;
    width: 100px;
    height: 30px;
    font-size: 12px;
    line-height: 25px;
    text-align: center;
    border-top: 2px solid #913030;
    border-bottom: 2px solid #913030;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form .toggle:hover {
    border-top: 2px solid #f0b924;
    border-bottom: 2px solid #f0b924;
}

.contenedor-form .toggle span {
    letter-spacing: 1px;
}

.contenedor-form h2 {
    margin: 0 0 28px 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 1;
}
.contenedor-form input[type="text"],
.contenedor-form input[type="password"],
.contenedor-form input[type="email"] {
    outline: none;
    display: block;
    width: 100%;
    padding: 10px 15px;
    margin: 0 0 20px 0;
    background: rgba(0,0,0,.5);
    color: #fff;
    border: none;
    border-radius: 2px;
    border-bottom: 4px solid #913030;
    box-sizing: border-box;
    font-family: Roboto;
    font-size: 14px;
    font-weight:normal;
    transition: all .5s ease;
}

.contenedor-form input[type="text"]:focus,
.contenedor-form input[type="password"]:focus,
.contenedor-form input[type="email"]:focus {
    border-bottom: 4px solid #f0b924;
}

.contenedor-form input[type="submit"] {
    background: #913030;
    color: #FFF;
    width: 100%;
    border: none;
    padding: 10px 0;
    font-size: 16px;
    font-weight: normal;
    font-family: Roboto;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all .5s ease;
}

.contenedor-form input[type="submit"]:hover {
    background: #f0b924;
}

.contenedor-form .reset-password {
    background: #f0b924;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenedor-form .reset-password a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.contenedor-form .formulario {
    display: none;
    padding: 40px;
}

.contenedor-form .formulario:nth-child(2) {
    display: block;
}
/*---------- FOOTER ----------*/

.footer {
	grid-area: footer;
	padding: 20px 0px 20px 0px;
	background-color: #913030;
	text-align: center;
}

.footer .icons {
	font-size: 50px;
	
}

.footer .icons a {
	color: rgba(5, 5, 5, 0.5);
	text-decoration: none;
	
}

.footer .icons a:hover {
	color: #fff;
}
.footer .icons li {
	display: inline-block;
	padding: 0px 20px 0 20px;
}

.footer .copyright {
	color: rgba(5, 5, 5, 0.5);
	font-size: 0.8em;
	letter-spacing: 0.225em;
	list-style: none;
	padding: 0;
	text-transform: uppercase;
}

.footer .copyright li {
	border-left: solid 1px rgba(0, 0, 0, 0.5);
	display: inline-block;
	line-height: 1em;
	margin-left: 1em;
	padding-left: 1em;
}

.footer .copyright li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
}

.footer .copyright li a {
	color: inherit;
}

.footer .copyright li a:hover {
	color: #fff;
}